<!-- ENCABEZADO: top bar con correo y teléfono -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <div class="w-100 d-flex justify-content-between align-items-center top-bar">
        <div class="d-flex align-items-center">

            <div class="me-3">

                <i class="fa-solid fa-envelope me-1 text-light"></i>
                <a class="text-light text-decoration-none" href="mailto:info@openAdd.com">info@openAdd.com</a>

            </div>

            
            <div>

                <i class="fa-solid fa-phone me-1 text-light"></i>
                <a class="text-light text-decoration-none" href="tel:+573102566548">+57 310-256-6548</a>

            </div>
           
        </div>

        <div>
          <a class="text-light me-2" href="https://fb.com/templatemo" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f fa-sm fa-fw"></i>
          </a>
          <a class="text-light" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram fa-sm fa-fw"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
<!-- FIN ENCABEZADO -->


<!-- INICIO MENU -->

<nav class ="navbar navbar-expand-lg navbar-light shadow">

  <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class = "container d-flex justify-content-between align-items-center">

      <a class ="navbar-brand text-success logo h1 align-self-center" href="index.html">
        
        OpenAdd

      </a>
      <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id ="opciones">
        <ul class =" nav navbar-nav d-flex justify-content-between mx-lg-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about.html">Acerca de</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="compras.html">Compras</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="productos.html">productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>

        </ul>
      </div>
      <div class="navbar align-self-center d-flex">
        

        <div class="me-3">

            <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
              <i class="fa fa-fw fa-search text-dark mr-2"></i>
            </a>

        </div>

        <div class="me-3">
          <a class="nav-icon position-relative text-decoration-none" href="cart.html">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
          </a>
        </div>


</nav>

<!-- FIN MENU -->

